.scrollup {
  position: fixed;
  right: 1.25rem;
  bottom: -50%;
  display: inline-flex;
  padding: 6px;
  font-size: var(--txt-8);
  color: black;
  z-index: 800;
  transition: bottom 0.4s, transform 0.4s, background-color 0.4s;
  box-shadow: 0 12px 24px var(--box-shadow);
  background-color: var(--ligth-grey-200);
  border-radius: var(--radius-3);
}

.scrollup:hover {
  transform: translateY(-0.5rem);
  cursor: pointer;
}

.show-scroll {
  bottom: 3rem;
}

.visible {
  bottom: 3rem;
}
