@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

.main {
  padding: 0 10%;
  background-color: var(--ligth-grey-500);
  color: var(--dark-black-100);
}
