#preloader {
  background-color: var(--dark-blue-100);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 10000;
  /* opacity: 1; */
  transition: opacity 0.8s;
  /* visibility: visible; */
}

.containerPreLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  color: var(--ligth-grey-500);
  margin-bottom: 25px;
  font-size: var(--txt-4);
  letter-spacing: 2px;
}

.loading {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading .line-box {
  /* padding: 2px; */
  width: 40%;
  /* height: 20px; */
  border: 2px solid var(--dark-blue-300);
  border-radius: var(--radius-1);
}

.loading .line-box .line {
  height: 20px;
  border-radius: var(--radius-1);
  background-color: var(--dark-blue-300);
  animation: loading 60s forwards cubic-bezier(0, 0, 0, 0);
}

@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.ocultar {
  opacity: 0;
  pointer-events: none;
}

.numb {
  font-size: var(--txt-4);
  padding: 20px 0;
  color: white;
}
