.ms3Cards {
  padding: 30px 0;
  border-top: 1px solid var(--ligth-grey-100);
  justify-content: space-between;
}

.ms3Cards__card {
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

.ms3Cards__card--img {
  border-radius: 50%;
  background-color: var(--ligth-grey-200);
  width: 132px;
  height: 132px;
  display: flex;
  justify-content: center;
  box-shadow: 6px 6px 10px 3px var(--box-shadow);
  transition: box-shadow 0.6s;
  overflow: hidden;
}

.ms3Cards__card:hover > .ms3Cards__card--img > img {
  scale: 1.2;
}
.ms3Cards__card--img > img {
  transition: scale 0.6s;
  object-fit: cover;
  width: 100%;
}

.ms3Cards__card:hover > .ms3Cards__card--img {
  border: 1px solid var(--dark-blue-100);
  box-shadow: none;
}

.ms3Cards__card--name {
  color: var(--dark-black-100);
  font-size: var(--txt-4);
  font-weight: 500;
  line-height: 20px;
}

/*categories*/

.categories__list {
  flex-wrap: wrap;
}

@media (max-width: 986px) {
  .categories__list {
    justify-content: left;
    gap: 15px;
  }
}

@media (max-width: 550px) {
}

@media (max-width: 279px) {
  .categories__list {
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}
