/*section2*/

body {
  background-color: var(--ligth-grey-500);
}

.main__section2 {
  justify-content: space-between;
  padding-top: 40px;
  background-color: var(--ligth-grey-500);
  transition: background-color 0.6s;
}

.main__section2--h3,
.main__section3--h3,
.main__section4--h3,
.main__section5--h3 {
  font-size: var(--txt-7);
  color: var(--dark-grey-100);
  font-weight: 600;
  width: fit-content;
  padding: 15px 0;
  border-bottom: 5px solid var(--dark-blue-100);
}

.main__section2--h3 {
  padding: 0;
}

.main__section2--h3 strong,
.main__section3--h3 strong,
.main__section4--h3 strong,
.main__section5--h3 strong {
  color: var(--dark-blue-100);
}

.ms2Cards {
  display: flex;
  border-top: 1px solid var(--ligth-grey-100);
  justify-content: left;
  height: 100%;
  padding: 40px 0;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: left;
  position: relative;
}

.ms2Cards__card {
  max-width: 227px;
  max-height: 295px;
  border: 1px solid var(--ligth-grey-100);
  width: 200px;
  height: 295px;
  border-radius: var(--radius-1);
  justify-content: space-between;
  position: relative;
  margin-bottom: 10px;
  box-shadow: 6px 6px 10px 2px var(--box-shadow);
  transition: box-shadow 0.6s;
}

.ms2Cards__card p {
  background-color: var(--dark-blue-100);
  width: 51px;
  height: 51px;
  text-align: center;
  color: var(--ligth-grey-500);
  font-weight: 500;
  padding: 5px;
  border-radius: 0 var(--radius-1) 0 var(--radius-1);
  font-size: var(--txt-1);
  position: absolute;
  right: 0;
}

.ms2Cards__card--div:first-child {
  display: flex;
  justify-content: center;
  border: 1px solid var(--ligth-grey-100);
  background-color: var(--ligth-grey-200);
  border-radius: var(--radius-1) var(--radius-1) 0 0;
  /* padding: 7px 0; */
  max-height: 171px;
  overflow: hidden;
  min-height: 171px;
}

.ms2Cards__card--div:nth-child(2) {
  gap: 5px;
  padding: 0 10px;
}

.ms2Cards__card--div:nth-child(2) span {
  display: flex;
  gap: 10px;
  color: var(--dark-black-100);
}

.ms2Cards__card--span {
  /* padding: 0 10px; */
  padding: 10px 0 0 0;
  margin: 0 10px;
  /* color: var(--dark-green-100); */
  color: var(--dark-black-100);
  font-weight: 600;
  padding-bottom: 15px;
  border-top: 1px solid var(--ligth-grey-100);
}

.ms2Cards__card:hover {
  outline: 1px solid var(--dark-blue-100);
  box-shadow: -6px -6px 10px 2px var(--box-shadow);
}

/*my products*/

.ms2Cards__noItems {
  width: 100%;
  display: block;
  height: 100%;
  text-align: center;
  font-weight: 600;
  font-size: var(--txt-6);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.ms2Cards__noItems > i {
  font-size: var(--txt-5);
  color: var(--dark-red-100);
}

/*botones*/

.ms2Cards > button > i {
  color: var(--dark-black-100);
  font-size: var(--txt-5);
  transition: color 0.6s;
}

.ms2Cards > button :hover {
  cursor: pointer;
  color: var(--dark-blue-100);
}
.ms2Cards > .haspage:hover,
.ms2Cards > .haspage:hover > i {
  color: var(--dark-black-100);
  cursor: default;
}

.previewUrl,
.nextUrl {
  position: absolute;
  z-index: 9999;
  border-radius: 50%;

  box-shadow: 3px 3px 5px var(--box-shadow);
}

.nextUrl {
  right: -10%;
  bottom: 50%;
}

.previewUrl {
  left: -10%;
  bottom: 50%;
}

.main__section2--home {
  justify-content: space-evenly;
}
