/*breackpoints*/

@media (max-width: 966px) {
  .ms4Cards {
    justify-content: center;
    gap: 15px;
  }
}

@media (max-width: 820px) {
  .menu__button strong {
    display: none;
  }

  /*ver despues*/
  .header__search--label {
    min-width: max-content;
    width: 100%;
  }

  .header__search--login strong {
    display: none;
  }

  .cart > strong {
    display: none;
  }

  .main__section1 div h2,
  .main__section1 div span,
  .main__section1 div span {
    font-size: var(--txt-2) !important;
  }

  .main__section1 {
    height: 200px !important;
  }

  .main__section1 div:nth-child(2) {
    width: 129px;
    border: 1px solid white;
  }

  .main__section1 div img {
    /* width: 50%; */
  }

  .next,
  .preview {
    /* width: 10px !important;
        height: 10px; */
  }

  .footer {
    padding: 0 10px;
  }

  .fls1__h4 {
    font-size: var(--txt-3);
  }
}

@media (max-width: 777px) {
  .footer__links {
    flex-wrap: wrap;
  }
}

@media (max-width: 738px) {
  .header__section1 {
    display: none !important;
  }
  .main {
    padding: 0 !important;
  }
}

@media (max-width: 478px) {
  .header__search--label {
    min-width: 100px;
    width: 100%;
  }

  .ms2Cards,
  .ms5Cards {
    justify-content: center;
  }

  .footer {
    align-items: center;
    padding: 0;
  }

  .fls1__div1 {
    display: flex;
    text-align: center;
  }

  .footer__links,
  .footer__links--section1 {
    margin: 0;
    padding: 0;
  }

  .footer__links--section1 {
    padding: 0;
    margin: 0;
  }

  .fls1__div--p {
    display: none;
  }

  .fls1__div--a {
    color: var(--ligth-grey-500);
  }

  .fls1__div,
  .fls1__div1 {
    justify-content: space-evenly;
  }

  .fls1__div--a img {
    display: none;
  }

  .fls1__div--a > i {
    display: flex;
  }

  .fls2,
  .fls3 {
    display: none;
  }
  .footer__links {
    flex-direction: column !important;
  }

  /* .footer {
        flex-direction: row;
      }
    
    
    
      .fls1 {
        flex-direction: column;
      } */

  .footer__span {
    font-size: var(--txt-1);
    margin: 0;
  }
}
@media (max-width: 424px) {
  .categories__list {
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}

@media (max-width: 453px) {
  .main__section1 {
    display: none;
  }

  .header,
  .main,
  .header__section2 {
    padding: 0;
  }
}

@media (max-width: 400px) {
  .header__section2 {
    flex-wrap: nowrap;
  }
}

@media (max-width: 313px) {
  .header__search {
    flex-wrap: nowrap;
  }
}
