* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input,
button,
textarea {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
a:active {
  color: black;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--ligth-grey-500);
}

.flexrow {
  display: flex;
  flex-direction: row;
}
.flexcolum {
  display: flex;
  flex-direction: column;
}

/* .ligth {
  --ligth-grey-500: #ffffff;

  --dark-black-100: #000000;
} */
