@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
/*header*/

body,
.select {
  font-family: "Hanken Grotesk", sans-serif;
}

button {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: var(--ligth-grey-500);
}

.header {
  border-bottom: 1px solid var(--ligth-grey-100);
}

.header__section1 {
  justify-content: space-between;
  line-height: var(--txt-1);
  padding: 15px 10%;
  background-color: var(--ligth-grey-200);
  color: var(--dark-grey-100);
  font-size: var(--txt-1);
  transition: background-color 0.6s, color 0.6s;
}

.header__section1--span {
  font-weight: 300;
}

.header__section1--span > span {
  text-transform: uppercase;
  font-weight: 700;
}

.hsDescription__span {
  padding: 0 10px;
  font-weight: 300;
}

.hsDescription__span:not(:first-child) {
  border-left: 1px solid var(--ligth-grey-600);
  /* border-left: 1px solid black; */
}

.hsDescription__span i {
  color: var(--dark-blue-100);
}

/*menu*/
.header__section2 {
  justify-content: space-between;
  padding: 20px 10%;
  background-color: var(--ligth-grey-500);
  transition: background-color 0.6s, color 0.6s;
}

.menu {
  position: relative;
}

.menu__list {
  display: flex;
  position: absolute;
  flex-direction: column !important;
  align-items: center;
  top: 40px;
  background-color: var(--ligth-grey-900);
  backdrop-filter: blur(10px);
  box-shadow: 10px 5px 10px var(--box-shadow);
  height: max-content;
  width: 250px;
  z-index: 88;
  align-items: center;
  justify-content: flex-start;
  color: var(--dark-black-100);
  left: -1100px;
  transition: top 0.2s;
  font-weight: 700;
  font-size: var(--txt-2);
}

.menu__item {
  transition: background-color 0.6s, color 0.6s;
  padding: 15px;
  width: 100%;
  text-align: left;
  box-shadow: 0px 1px 10px 0px var(--box-shadow);
  color: var(--dark-black-100);
}

.menu__item:hover {
  background-color: var(--ligth-grey-500);
}

.menu__button {
  font-size: var(--txt-3);
  color: var(--dark-blue-100);
  transition: background-color 0.6s, color 0.6s;
}
.menu__button > a > strong {
  color: var(--dark-black-100);
  transition: background-color 0.6s, color 0.6s;
}

.menu__button > i {
  background-color: var(--ligth-grey-400);
  padding: 5px;
  border-radius: var(--radius-2);
  transition: background-color 0.6s, color 0.6s;
}

/*search*/

.header__search {
  align-items: center;
  gap: 7px;
  background-color: var(--ligth-grey-500);
  transition: background-color 0.6s, color 0.6s;
}

.header__search--label {
  display: flex;
  padding: 10px;
  border-radius: var(--radius-3);
  min-width: 507px;
  align-items: center;
  justify-content: space-between;
  font-size: var(--txt-1);
  gap: 10px;
}

.header__search--label,
.header__search--label input {
  background-color: var(--ligth-grey-400);
  transition: background-color 0.6s, color 0.6s;
}

.header__search--label > input {
  font-size: var(--txt-1);
  width: 100%;
  color: var(--dark-black-100);
}

.header__search--label i {
  color: var(--dark-blue-100);
  font-size: var(--txt-2);
}

.header__search a {
  font-size: var(--txt-4);
  font-weight: 600;
  color: var(--dark-grey-100);
}

.header__search a i {
  color: var(--dark-blue-100);
  font-size: var(--txt-2);
  font-weight: 400;
}

.showMenu {
  left: 0;
}

.showHidde {
  left: -1000px;
}

.header__search--login > strong > i {
  color: var(--dark-blue-100);
  font-size: var(--txt-2);
  font-weight: 400;
}

.hslogin > strong > a > i {
  display: none;
}

/*hover/active button/a header*/
.header__search--login > strong > a:hover,
.header__search--login > div > button > strong:hover,
.header__search > a > strong:hover,
.header__search--theme > button > i:hover {
  color: var(--dark-blue-100);
}
.header__search--login > strong > a:active,
.header__search--login > div > button > strong:active,
.header__search > a > strong:active,
.header__search--theme > button > i:active {
  color: var(--dark-black-100);
}

.hslogin {
  justify-content: center;
  align-items: center;
}

.hslogin > i {
  color: var(--dark-blue-100);
  font-size: var(--txt-7);
}
.hslogin > strong > span {
  color: var(--dark-grey-100);
}
.hslogin > strong {
  gap: 5px;
}

/*logout*/
.header__search--login > div {
  align-items: center;
}
.header__search--login > div > button {
  cursor: pointer;
}

.hslogin > div > button > strong {
  color: var(--dark-grey-100);
}
.hslogin > div > button > i {
  color: var(--dark-blue-100);
  font-size: var(--txt-7);
}

.header__search--theme > button > i {
  font-size: var(--txt-7);
  color: var(--dark-grey-200);
  cursor: pointer;
  transition: background-color 0.6s, color 0.6s;
  background-color: var(--ligth-grey-500);
  height: 100%;
}

.hslogin > div > button {
  align-items: center;
  font-size: var(--txt-4);
}

.header__search--theme > button {
  background-color: var(--ligth-grey-500);
  transition: background-color 0.6s, color 0.6s;
}

.showThemeButton {
  display: inline;
}
.hideThemeButton {
  display: none;
}

.hsc__icon {
  font-size: var(--txt-7) !important;
}

.hidden {
  display: none !important;
}

.show {
  display: flex;
}

.hslogin > div > button {
  transition: background-color 0.6s, color 0.6s;
}

/*cart count*/
.header__search--cart {
  position: relative;
}

.cartCount {
  position: absolute;
  top: 15px;
  background-color: var(--dark-red-100);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  font-size: var(--txt-1);
  text-align: center;
  color: black;
}

.cartCountdisplay {
  display: none;
}

@media (max-width: 1050px) {
  .header__section2 {
    padding: 20px 0;
  }
}

@media (max-width: 968px) {
  .menu__button strong {
    display: none;
  }

  /*ver despues*/
  .header__search--label {
    min-width: max-content;
    width: 100%;
  }

  .header__search--login {
    position: relative;
  }

  .header__search--login > strong > a,
  .header__search--login > strong > span,
  .header__search--login > div > button > strong,
  .header__search--cart > strong {
    display: none;
  }

  .hslogin > strong > a > i {
    display: inline-block;
    color: var(--dark-black-100);
  }

  .header__search--login > strong > a {
    position: absolute;
    min-width: 150px;
    height: auto;
    width: auto;
    background-color: var(--ligth-grey-900);
    backdrop-filter: blur(10px);
    font-size: var(--txt-2);
    box-shadow: -4px 4px 10px 0px var(--box-shadow);
    padding: 5px;
    z-index: 20;
    color: var(--dark-black-100);
    transition: right 0.6s;
  }
  .header__search--login > strong > a:hover {
    background-color: var(--ligth-grey-500);
  }
  .header__search--login > strong > a:nth-child(2) {
    top: 80px;
  }
  .header__search--login > strong > a:last-child {
    top: 40px;
  }

  .showLogin {
    transition: right 0.6s;
    display: inline-block !important;
    right: 10% !important;
  }

  .hslogin {
    order: 2 !important;
  }

  .header__search--cart {
    order: 1 !important;
  }
}

@media (max-width: 738px) {
  .header__section1 {
    display: none !important;
  }
}

@media (max-width: 477px) {
  .header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .login {
    width: auto !important;
  }

  .header__section2 {
    padding: 15px;
    justify-content: space-between;
    width: 100%;
  }

  .header__search--label {
    min-width: 100px;
    width: 100%;
  }

  .menu__list {
    width: 100vw;
  }

  .hslogin > strong > a {
    width: 75vw;
  }
}

@media (max-width: 453px) {
  .main__section1 {
    display: none;
  }

  .header,
  .main,
  .header__section2 {
    padding: 0;
  }
}

@media (max-width: 400px) {
  .header__section2 {
    flex-wrap: nowrap;
  }
}

@media (max-width: 313px) {
  .header__search {
    flex-wrap: nowrap;
  }
}
