@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
/*header*/

body,
.select {
  font-family: "Hanken Grotesk", sans-serif;
}

button {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: var(--ligth-grey-500);
}

.header {
  border-bottom: 1px solid var(--ligth-grey-100);
}

.header__section1 {
  justify-content: space-between;
  line-height: var(--txt-1);
  padding: 15px 10%;
  background-color: var(--ligth-grey-200);
  color: var(--dark-grey-100);
  font-size: var(--txt-1);

  transition: background-color 0.6s, color 0.6s;
}

.header__section1--span {
  font-weight: 300;
}

.hsDescription__span {
  padding: 0 10px;
  font-weight: 300;
}

.hsDescription__span:not(:first-child) {
  border-left: 1px solid var(--ligth-grey-600);
  /* border-left: 1px solid black; */
}

.hsDescription__span i {
  color: var(--dark-blue-100);
}

/*menu*/
.header__section2 {
  justify-content: space-between;
  padding: 20px 10%;
  background-color: var(--ligth-grey-500);
  transition: background-color 0.6s, color 0.6s;
}

.menu {
  position: relative;
}

.menu__list {
  display: flex;
  position: absolute;
  flex-direction: column !important;
  align-items: center;
  top: 30px;

  background-color: rgba(255, 255, 255, 0.192);
  backdrop-filter: blur(10px);
  box-shadow: 10px 5px 10px var(--box-shadow);
  height: max-content;
  width: 250px;
  z-index: 999;
  align-items: center;
  justify-content: flex-start;
  /* gap: 30px; */

  color: var(--dark-black-100);
  left: -1100px;
  transition: top 0.2s;
  font-weight: 700;
  font-size: var(--txt-2);
}

.menu__item {
  transition: background-color 0.6s, color 0.6s;
  padding: 15px 0;
  width: 100%;
  text-align: center;
  box-shadow: 0px 1px 10px 0px var(--box-shadow);
  color: var(--dark-black-100);
}

.menu__item:hover {
  /* text-decoration: underline;
  text-decoration-color: var(--dark-blue-100);
  text-underline-position: above;
  text-underline-position: unset; */
  background-color: var(--ligth-grey-500);
}

.menu__button {
  font-size: var(--txt-3);
  color: var(--dark-blue-100);
  transition: background-color 0.6s, color 0.6s;
}
.menu__button > a > strong {
  color: var(--dark-black-100);
  transition: background-color 0.6s, color 0.6s;
}

.menu__button > i {
  background-color: var(--ligth-grey-400);
  padding: 5px;
  border-radius: var(--radius-2);
  transition: background-color 0.6s, color 0.6s;
}

/*search*/

.header__search {
  align-items: center;
  gap: 7px;
  background-color: var(--ligth-grey-500);
  transition: background-color 0.6s, color 0.6s;
}

.header__search--label {
  /* padding: 15px; */
  display: flex;
  padding: 10px;
  border-radius: var(--radius-3);
  min-width: 507px;
  align-items: center;
  justify-content: space-between;
  font-size: var(--txt-1);
  gap: 10px;
}

.header__search--label,
.header__search--label input {
  background-color: var(--ligth-grey-400);
  transition: background-color 0.6s, color 0.6s;
}

.header__search--label > input {
  font-size: var(--txt-1);
  width: 100%;
  color: var(--dark-black-100);
}

.header__search--label i {
  color: var(--dark-blue-100);
  font-size: var(--txt-2);
}

.header__search a {
  font-size: var(--txt-4);
  font-weight: 600;
  color: var(--dark-grey-100);
}

.header__search a i {
  color: var(--dark-blue-100);
  font-size: var(--txt-2);
  font-weight: 400;
}

.showMenu {
  left: 0;
}

.showHidde {
  left: -1000px;
}

.hslogin {
  justify-content: center;
  align-items: center;
}

.hslogin > i {
  color: var(--dark-blue-100);
  font-size: var(--txt-7);
}
.hslogin > strong > span {
  color: var(--dark-grey-100);
}
.hslogin > strong {
  gap: 5px;
}

/*logout*/
.header__search--login > div {
  align-items: center;
}

.hslogin > div > button > strong {
  color: var(--dark-grey-100);
}
.hslogin > div > button > i {
  color: var(--dark-blue-100);
  font-size: var(--txt-7);
}

.header__search--theme > button > i {
  font-size: var(--txt-7);
  color: var(--dark-grey-200);
  cursor: pointer;
  transition: background-color 0.6s, color 0.6s;
  background-color: var(--ligth-grey-500);
  height: 100%;
}

.hslogin > div > button {
  align-items: center;
  font-size: var(--txt-4);
}

.header__search--theme > button {
  background-color: var(--ligth-grey-500);
  transition: background-color 0.6s, color 0.6s;
}

.showThemeButton {
  display: inline;
}
.hideThemeButton {
  display: none;
}

.hsc__icon {
  font-size: var(--txt-7) !important;
}

.hidden {
  display: none !important;
}

.show {
  display: flex;
}

.hslogin > div > button {
  transition: background-color 0.6s, color 0.6s;
}
