.sectionRegister {
  display: flex;
  justify-content: end;
  padding: 50px 50px;
}

.register {
  width: 50%;
}

.register__title {
  gap: 15px;
  margin-bottom: 20px;
}

.register__title h2 {
  color: var(--dark-blue-100);
  font-size: var(--txt-8);
}

.register__title p {
  color: var(--dark-grey-500);
  text-transform: uppercase;
}

.register__input {
  gap: 25px;
}

.register__input label span {
  font-weight: 600;
  text-transform: capitalize;
  font-size: var(--txt-1);
}

.register__input label {
  gap: 5px;
}

.register__input label input {
  border: 1px solid var(--ligth-grey-100);
  border-radius: var(--radius-5);
  height: 43px;
  width: 75%;
  padding: 15px;
}
.register__input label input::placeholder {
  color: var(--dark-grey-500);

  font-size: var(--txt-1);
}

.register__button {
  padding: 30px 0;
  gap: 20px;
}

.register__button--submit {
  width: fit-content;
  padding: 15px 40px;
  border-radius: var(--radius-2);
  background-color: var(--dark-blue-100);
  /* color: var(--ligth-grey-500); */
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-size: var(--txt-1);
  font-weight: 400;
  transition: box-shadow 0.3s;
  font-weight: 700;
}

.register__button--submit:hover {
  box-shadow: 7px 7px 19px 0px var(--box-shadow);
  background-color: var(--dark-blue-400);
}

.register__button--newUser a {
  font-size: var(--txt-9);
  color: var(--dark-grey-500);
  text-transform: uppercase;
}
.register__button--newUser > a:hover {
  text-decoration: underline;
  text-decoration-color: var(--dark-grey-500);
}

.register__button--newUser a strong {
  color: var(--dark-blue-100);
}

/*delete button*/

.register__button--deleted {
  background-color: var(--dark-red-100);
}
.register__button--deleted:hover {
  background-color: var(--dark-red-300);
}

.rbd {
  width: 143px;
  height: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionRegister__status {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionRegister__status > .logoLogin {
  overflow: hidden;
  width: 350px;
  height: 100%;
}
.sectionRegister__status > .logoLogin > img {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-2);
  object-fit: cover;
  object-position: -300px;
}

/*register product*/

.rbs {
  width: 154px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-bottom: 100px; */
}

.imgPrewiev {
  /*terminar probar imagen registrar y mostrar en el home , modificar la base de datos agregar atributo url a todos lo productos*/
  height: 100% !important;
  margin: auto 0;
  padding: 0 50px;
  object-fit: cover;
  object-position: center;
}

.imgPrewiev,
.imgPrewiev__img {
  border-radius: var(--radius-2);
}

.imgPrewiev__img {
  max-width: 500px;
}

/*modify product*/

.productTrue,
.productFalse {
  text-transform: uppercase;
  font-weight: 700;
}

.productTrue:disabled {
  border: 1px solid var(--dark-green-100);
}
.productTrue {
  color: var(--dark-green-100);
  border: 1px solid var(--dark-green-100);
}

.productFalse:disabled {
  border: 1px solid var(--dark-red-100);
}

.productFalse {
  color: var(--dark-red-100);
  border: 1px solid var(--dark-red-100);
}

.register > span {
  font-size: var(--txt-12);
}

.ric__input:disabled {
  color: var(--dark-black-100);
}

@media (max-width: 998px) {
  .sectionRegister {
    padding: 50px 0;
  }

  .register__input--productRegister > input {
    width: 100% !important;
  }
}

@media (max-width: 998px) {
  .sectionRegisterProduct {
    position: relative;
  }

  .sectionRegisterProduct__img {
    position: absolute;
    padding: 0;
    top: 30%;
    right: 25%;
    height: min-content !important;
    /* display: none; */
    /* transition: all ease-in-out */

    pointer-events: none;
  }

  .sectionRegisterProduct__img--notshow {
    opacity: 0;
    transition: opacity 0.6s ease;
  }
  .sectionRegisterProduct__img--show {
    border: 1px solid var(--dark-blue-100);
    transition: opacity 0.6s ease;
    opacity: 1 !important;
  }

  .registerProductForm__input,
  .registerProductForm {
    width: 100% !important;
  }
  .register__button--registerProduct {
    width: 100%;
  }
}

@media (max-width: 649px) {
  .sectionRegisterProduct__img {
    right: 15%;
    top: 40%;
  }
  .sectionRegisterProduct__img > img {
    width: 90%;
  }
}

@media (max-width: 460px) {
  .sectionRegisterProduct__img {
    right: -10%;

    top: 40%;
  }
  .sectionRegisterProduct__img > img {
    width: 80%;
  }
}

@media (max-width: 329px) {
  .sectionRegisterProduct__img {
    right: -20%;
    /* top: ; */
  }
  .sectionRegisterProduct__img > img {
    width: 70%;
  }
}
